<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nosso_Server</title>
    <link rel="stylesheet" href="./style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>

    <h1><i class="material-icons">play_circle_filled</i>Nosso Server</h1>
<ul>
    <a href="https://sitecopia.onrender.com/logar"><li>Sua conta</li></a>
    <a href="https://sitecopia.onrender.com/contatos"><li>contatos</li></a>

</ul>

</header>
<main>
    <section>
     <h4><p>NOSSO SERVER é um server no qual qualquer um pode participar
        basta criar sua conta e começar a viver aventuras incriveis
        NOSSO SERVER já conta com mais de 3 jogadores recorentes</p>
   </h4>
        <h4>vai perder essa oportunidade?!</h4>

    <button><h4>clique aqui para entrar</h4> <i class="material-icons">keyboard_arrow_right</i></button>

    </section>
<aside>
     <img src="./assets/img1.jpg "

          alt="imagem do nosso server"/>
<h4>participe já!</h4>

</aside>

</main>
<footer></footer>
</body>
</html>