<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>REGRAS</title>
</head>
<body>
<style>
    body {
            background-color: #fff; /* Fundo branco */
            color: #333; /* Cor do texto */

            padding: 30px;
        }

        header {
        text-decoration: underline;
            background-color: #007bff; /* Destaque azul */
            color: #fff; /* Texto branco */
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
            }
        footer {
            color: Red;
             }

</style>
<header>
   <strong>REGRAS</strong>
</header>
<ul>

    <li>PROIBIDO qualquer tipo de HACK</li>
<li>PROIBIDO ROUBAR itens dos coleguinhas</li>
<li>PROIBIDO MATAR pet</li>
<li>PROIBIDO DESTRUIR qualquer construção</li>
<li>PROIBIDO fazer qualquer CONSTRUÇÃO sem ACESSO da prefeitura</li>
<li>Quem deixar Creeper explodir na cidade tem que arrumar o buraco.</li>
</ul>
<footer>quem não seguir as regras será banido!</footer>
</body>
</html>